{% load static %}

<footer class="rodape">
    <div class="rodape__icones">
      <!--  <a href="https://www.facebook.com/andre.p.desouza.1/" target="_blank">
            <img src="{% static '/assets/icones/1x/facebook.png' %}" alt="ícone facebook">
        </a>
    -->
        <a href="https://www.instagram.com/andrepjds/" target=”_blank” >
            <img src="{% static '/assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
    <p class="rodape__texto">Desenvolvido por </p>
</footer>
