{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<style>
    .imagem__titulo,
    .imagem__descricao {
        color: white; /* Define a cor do texto como branca */
    }
</style>
<section class="conteudo">
    {% for anotacao in cards %}
        <section class="imagem">
            <div class="imagem__conteudo">
                <!-- Aqui vem o código para exibir a informação da animação -->
                <p class="imagem__titulo">{{ anotacao.nomeAnotacao }}</p>
                <p class="imagem__titulo">{{ anotacao.descricao }}</p>
                
                
                <div>
                   
            
                    <a href="{% url 'deletar_anotacao' anotacao.id %}">
                        <button class="btn btn-danger col-12" style="padding: 5px;">Deletar</button>
                    </a>
                </div>
            </div>
        </section>
    {% endfor %}
</section>
</main>
</div>
{% endblock %}


