{% extends 'shared/base.html' %}
{% load static %}

{% block content %}

<style>
    .imagem__titulo,
    .imagem__descricao {
        color: white; /* Define a cor do texto como branca */
    }
    </style>
    <section class="conteudo">
        {% for tarefa in cards %}
            <section class="imagem">
                <div class="imagem__conteudo">
                    <!-- Aqui vem o código para exibir a informação da meta -->
                    <p class="imagem__titulo">{{ tarefa.nomeTarefa }}</p>
                    <p class="imagem__descricao">Data de Entrega: {{ tarefa.data_entrega }}</p>
              
                    <div>
                     
                       
                        <a href="{% url 'deletar_tarefa' tarefa.id %}">
                            <button class="btn btn-danger col-12" style="padding: 5px;">Deletar</button>
                        </a>
                        
                    </div>
                </div>
            </section>
        {% endfor %}
    </section>
</main>
</div>
{% endblock %}